<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="currentPage='home'">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        <th:block th:text="#{title.page.home}"/>
    </title>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/main.css}" href="../static/css/main.css"/>
</head>
<body>
    <div th:include="fragments/header :: header">
        [HEADER]
    </div>
</body>
</html>